backend/uploads/*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text


# Apply Git LFS to all common image file types globally
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text

# Specific rule for image files in the backend/uploads directory
backend/uploads/*.jpg filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.jpeg filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.png filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.gif filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.bmp filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.tiff filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.webp filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.svg filter=lfs diff=lfs merge=lfs -text
